-
    lorem = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'

doctype html
html
    head
        title gab
        link(rel='stylesheet',href='awards.css')
        link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|Passion+One')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js')
        script(src='awards.js')
    body
        .wrapper
            
            section#awards
                h1 awards
                .awards
                    .text Athletic Participation Award
                    img(src="https://gab505.github.io/pictures/awards/1.jpg")
                    .text Academic Athlete Award
                    img(src="https://gab505.github.io/pictures/awards/2.jpg")
                    .text AMC Recognition by Principal
                    img(src="https://gab505.github.io/pictures/awards/20170902_152400amc.jpg")
                    .text Altar Server Recognition
                    img(src="https://gab505.github.io/pictures/awards/kendo/1.jpg")
                    .text Altar Server Recognition 2
                    img(src="https://gab505.github.io/pictures/awards/volunteering/10.jpg")
                    .text Kendo Promotion 1
                    img(src="https://gab505.github.io/pictures/awards/kendo/5.jpg")
                    .text Kendo Promotion 2
                    img(src="https://gab505.github.io/pictures/awards/kendo/4.jpg")
                    .text Kendo Promotion 3
                    img(src="https://gab505.github.io/pictures/awards/kendo/2.jpg")
                    .text Kendo Promotion 4
                    img(src="https://gab505.github.io/pictures/awards/kendo/3.jpg")
                    .text Guatemala Volunteering Recognition 1
                    img(src="https://gab505.github.io/pictures/awards/volunteering/1.jpg")
                    .text Guatemala Volunteering Recognition 2
                    img(src="https://gab505.github.io/pictures/awards/volunteering/4.jpg")
                    .text Guatemala Volunteering Recognition 3
                    img(src="https://gab505.github.io/pictures/awards/volunteering/5.jpg")
                    .text Community Service Award from School 1
                    img(src="https://gab505.github.io/pictures/awards/volunteering/2.jpg")
                    .text Community Service Award from School 2
                    img(src="https://gab505.github.io/pictures/awards/volunteering/8.jpg")
                    .text Community Service Award from School 3
                    img(src="https://gab505.github.io/pictures/awards/volunteering/9.jpg")
                    .text President's Volunteering Service Award 1
                    img(src="https://gab505.github.io/pictures/awards/volunteering/6.jpg")
                    .text President's Volunteering Service Award 2
                    img(src="https://gab505.github.io/pictures/awards/volunteering/7.jpg")
