nav {
  margin-bottom: 0 !important;
}
section.menuSection {
  min-height: 50vh;
  padding: 30px;
  border-top: 1px solid #eee;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.menuSection .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
section.menuSection .text h1 {
  margin: 10px;
}
section.menuSection .text h1:before {
  content: '{';
  margin-right: 5px;
}
section.menuSection .text h1:after {
  content: '}';
  margin-left: 5px;
}
section.menuSection img {
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
  transition: all 2s;
}
@media (min-width: 800px) {
  section.menuSection img {
    width: 40%;
  }
}
@media (max-width: 799px) {
  section.menuSection img {
    width: 50%;
  }
}
section.menuSection:hover img {
  transform: rotate(-5deg);
}
section.menuSection.subSection {
  border-top: none;
  padding-top: 0;
  margin-top: -90px;
}
