nav
  margin-bottom 0 !important

section.menuSection
  min-height 50vh
  padding 30px
  border-top 1px solid #eee
  //background-size cover
  //background-position center
  position relative
  overflow-x hidden
  display flex
  flex-direction row
  justify-content center
  align-items center
  .text
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding 30px
    h1
      margin 10px
      &:before
        content '{'
        margin-right 5px
      &:after
        content '}'
        margin-left 5px
  img
    top 0
    left 0
    object-fit: cover
    object-position top
    transition all 2s
    @media(min-width: 800px)
      width: 40%;
    @media(max-width: 799px)
      width: 50%;
  &:hover
    img
      transform rotate(-5deg)
  &.subSection
    border-top none
    padding-top 0
    margin-top -90px
      
      
      
      
      
      
      